.container{
    background-image: url(./img/travelform-background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    padding: 15px; 
}
.formBox{
  display:grid;
  padding-left: 20px;
}
.title{
  padding-left: 20px;
  display: inline;
}
label{
  padding-top: 20px;
}
#note{
    color: #ff002b;
    font-size: 24px;
    padding-left: 20px;
}
.mandatory::after {
    content: '*'; 
    color: red; 
    margin-right: 3px; 
  }
  .inputBox{
    width: 30%;
    height: 40px;
    font-size: 20px;
  }
  .selectBox{
    width: 30.5%;
    height: 44px;
    font-size: 20px;
  }
  .mandatory{
    font-size: 24px;
    color: rgb(46, 36, 21);
    font-weight: bold;
  }
  input[type="checkbox"]{
    width: 20px;
    height: 20px;
    padding: 5px;
  }
  .available:hover{
    color: red;
    font-size:30px ;
  }
  input[type="radio"]{
    width: 20px;
    height: 20px;
    
  }
  .available{
    color:rgb(46, 36, 21) ;
    font-size: 24px;

  }
  #submit{
    width: 150px;
    height: 45px;
    font-size: 20px;
    background-color: #ff5100;
    border: none;
    border-radius: 5px;
    color: white;
  }
  /* .app{
    appearance: none;
    border: 1px solid black;
    accent-color: red;
  } */


