  body{
    margin: 0px;
    padding: 0px;
  }
  .container{
      background-image: url(./img/travelform-background.png);
      background-size: cover;
      background-position: center;
      padding-top: 10px;
  }
  .headerBox{
    width: 95%;
    height: 80px;
    border-bottom: 2px solid white;
    margin-left: 20px;
  }
  .formBox{
    display:grid;
    padding-left: 20px;
  }
  .title{
    color: white;
    display: inline;
  }
  .note{
      color: rgba(187,44,65,255);
      font-size: 24px;
      font-weight: bold;
  }
  sup{
    color:rgba(187,44,65,255);
  }
  .inputBox,.selectBox{
    width: 30%;
    height: 30px;
    font-size: 20px;
    margin-top: 12px;
  }
  .selectBox{
    width: 30.5%;
    height: 38px;
  }
  .mandatory{
    font-size: 24px;
    color: rgb(46, 36, 21);
    font-weight: bold;
  }
  .app,.inputRadio{
    width: 20px;
    height: 17px;
  }
  .available{
    color:rgb(46, 36, 21) ;
    font-size: 24px;
  }
  .submit{
    width: 150px;
    height: 45px;
    font-size: 20px;
    background-color: #ff5100;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
  }
  .app,.inputRadio{
    appearance: none;
    border: 2px solid black;
  }
  .app:checked,#agreed:checked{
    background-color: rgb(47, 229, 22);
  }
  .inputRadio{
    border-radius: 50%;
  }


